extends emailBase
block content
    p Hi #{name},
    p We are are here to help you get back access to your account!
    p Click the link to Reset Your Password.
    p= url
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p (Website not implemented yet.)
    p If You did't request password reset, please ignore this email!

